<h3>
  <!-- <%= link_to sandwich.name, sandwich %> -->
  <%= sandwich.name %>
</h3>
<h4>by <%= sandwich.user %>, <%= time_ago_in_words sandwich.created_at %> ago</h4>
<ul class="playlist">
  <% sandwich.posts.each do |post| %>
    <li>
      <a id="<%= "post-#{post.id}" %>" class="post" href="<%= post.mp3.url %>">
        <p class="title"><%= post.title %></p>
        <p class="artist"><%= post.artist %></p>
      </a>
    </li>
  <% end %>
</ul>
