<h3><%= sandwich.name %></h3>
<h4>by <%= sandwich.user %></h4>
<h5><%= link_to "#{sandwich.comments_count} comments", sandwich_comments_path(sandwich) %></h5>
<div class="comments"></div>
<% cache(sandwich) do %> 
  <ul class="playlist">
    <% sandwich.posts.each do |post| %>
      <li>
        <a id="<%= "post-#{post.id}" %>" class="post" href="<%= post.mp3.url %>">
          <p class="title"><%= post.title %></p>
          <p class="artist"><%= post.artist %></p>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>