<div class="grid_9" id="container-main">
  
  <h2>
    <% if params[:action] == 'index' %>
      Latest
    <% else %>
      <%= link_to "Latest", root_path %>
    <% end %>
    /
    <% if params[:action] == 'greatest' %>
      Greatest
    <% else %>
      <%= link_to "Greatest", greatest_path %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'New Sandwich', new_sandwich_path, :class => 'new-sandwich' %>
    <% end %>
  </h2>

  <%= render :partial => 'sandwiches/sandwiches', :locals => {:sandwiches => @sandwiches} %>
  <%= will_paginate @sandwiches %>
   
</div>

<div id="users" class="grid_3">

  <h2>People</h2>

  <ul class="users">
    
    <% @users.each do |user| %>
      <li><%= render user %></li>
    <% end if @users %>
    
  </ul>

  <% if current_user.admin %>
    <h2 class="pad_top">invite a new user</h2>
    <%= render 'invitations/form' %>
  <% end %>

</div>